body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginHead{
  font-size: 20px;
}

.registerHead{
  font-size: 20px;
}

.testTitle{
  font-size: 26px;
}

.testInstruction{
  font-size: 20px;
  margin-top: 20px;
}

.words{
  padding: 5px;
  font-size: 20px;
}

.words:nth-child(odd){
  background-color: beige;
}

.words:nth-child(even){
  background-color: azure;
}

.focusTestArea{
  height: 200px;
  width: 200px;
  
}